[submodule "martin_kuba.work_env"]
	path = martin_kuba.work_env
	url = https://github.com/martin-kuba/ansible-role-work-env.git
[submodule "cesnet.metacentrum_monitoring"]
	path = cesnet.metacentrum_monitoring
	url = https://github.com/CESNET/ansible-role-metacentrum-monitoring.git
[submodule "cesnet.unattended_upgrades"]
	path = cesnet.unattended_upgrades
	url = https://github.com/CESNET/ansible-role-unattended-upgrades.git
[submodule "cesnet.igtf_cas"]
	path = cesnet.igtf_cas
	url = https://github.com/CESNET/ansible-role-igtf-cas.git
[submodule "cesnet.apache_tls"]
	path = cesnet.apache_tls
	url = https://github.com/CESNET/ansible-role-apache-tls.git
[submodule "cesnet.yubikeys"]
	path = cesnet.yubikeys
	url = https://github.com/CESNET/ansible-role-yubikeys.git
[submodule "cesnet.firewall"]
	path = cesnet.firewall
	url = https://github.com/CESNET/ansible-role-firewall.git
[submodule "cesnet.apache2"]
	path = cesnet.apache2
	url = https://github.com/CESNET/ansible-role-apache2.git
[submodule "cesnet.mount_nfs4"]
	path = cesnet.mount_nfs4
	url = https://github.com/CESNET/ansible-role-mount-nfs4.git
[submodule "cesnet.postgresql"]
	path = cesnet.postgresql
	url = https://github.com/CESNET/ansible-role-postgresql.git
[submodule "cesnet.tomcat"]
	path = cesnet.tomcat
	url = https://github.com/CESNET/ansible-role-tomcat.git
[submodule "cesnet.shibboleth_idp"]
	path = cesnet.shibboleth_idp
	url = https://github.com/CESNET/ansible-role-shibboleth-idp.git
[submodule "cesnet.shibboleth_sp"]
	path = cesnet.shibboleth_sp
	url = https://github.com/CESNET/ansible-role-shibboleth-sp.git
[submodule "cesnet.sendmail"]
	path = cesnet.sendmail
	url = https://github.com/CESNET/ansible-role-sendmail.git
[submodule "cesnet.mariadb"]
	path = cesnet.mariadb
	url = https://github.com/CESNET/ansible-role-mariadb.git
[submodule "cesnet.spreg"]
	path = cesnet.spreg
	url = https://github.com/CESNET/ansible-role-spreg.git
[submodule "cesnet.certbot_certs"]
	path = cesnet.certbot_certs
	url = https://github.com/CESNET/ansible-role-certbot-certs.git
[submodule "cesnet.proxy_env"]
	path = cesnet.proxy_env
	url = https://github.com/CESNET/ansible-role-proxy-env.git
[submodule "cesnet.openldap"]
	path = cesnet.openldap
	url = https://github.com/CESNET/ansible-role-openldap.git
[submodule "cesnet.rsyslog"]
	path = cesnet.rsyslog
	url = https://github.com/CESNET/ansible-role-rsyslog.git
[submodule "cesnet.logrotate"]
	path = cesnet.logrotate
	url = https://github.com/CESNET/ansible-role-logrotate.git
[submodule "cesnet.sendmail_for_docker"]
	path = cesnet.sendmail_for_docker
	url = git@github.com:CESNET/ansible-role-sendmail-for-docker.git
