[submodule "martin_kuba.work_env"]
	path = martin_kuba.work_env
	url = https://github.com/martin-kuba/ansible-role-work-env.git
[submodule "cesnet.metacentrum_monitoring"]
	path = cesnet.metacentrum_monitoring
	url = https://github.com/CESNET/ansible-role-metacentrum-monitoring.git
[submodule "cesnet.unattended_upgrades"]
	path = cesnet.unattended_upgrades
	url = https://github.com/CESNET/ansible-role-unattended-upgrades.git
[submodule "cesnet.igtf_cas"]
	path = cesnet.igtf_cas
	url = https://github.com/CESNET/ansible-role-igtf-cas.git
[submodule "cesnet.apache_tls"]
	path = cesnet.apache_tls
	url = https://github.com/CESNET/ansible-role-apache-tls.git
[submodule "cesnet.yubikeys"]
	path = cesnet.yubikeys
	url = https://github.com/CESNET/ansible-role-yubikeys.git
[submodule "cesnet.firewall"]
	path = cesnet.firewall
	url = https://github.com/CESNET/ansible-role-firewall.git
[submodule "cesnet.apache2"]
	path = cesnet.apache2
	url = https://github.com/CESNET/ansible-role-apache2.git
[submodule "cesnet.mount_nfs4"]
	path = cesnet.mount_nfs4
	url = https://github.com/CESNET/ansible-role-mount-nfs4.git
